@model ThAmCo.Events.Models.Events.EventMenusVM

<h2>Book Menu</h2>


<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.Menus.FirstOrDefault().Name)</strong>
        </div>
        <div class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.Menus.FirstOrDefault().Starter)</strong>
        </div>
        <div class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.Menus.FirstOrDefault().Main)</strong>
        </div>
        <div class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.Menus.FirstOrDefault().Dessert)</strong>
        </div>
        <div class="col-sm-2">
            <strong><center>@Html.DisplayNameFor(model => model.Menus.FirstOrDefault().CostPerHead)</center></strong>
        </div>
    </div>
</div>
<br />

@foreach (var item in Model.Menus)
{
    <div class="row">
        <div class="col-sm-2">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(modelItem => item.Starter)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(modelItem => item.Main)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(modelItem => item.Dessert)
        </div>
        <div class="col-sm-2">
            <center>£@((item.CostPerHead).ToString("0.00"))</center>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Select Menu", "SelectMenu", new { item.MenuId, Model.EventId })
        </div>

    </div>
    <br />
}
