@model ThAmCo.Events.Models.Events.EventVenueVM

@{
    ViewData["Title"] = "ConfirmReservation";
}

<h2>ConfirmReservation</h2>
<form asp-action="BookEvent">
    <div>
        <h4>EventVenueVM</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>
            <dd>
                <input asp-for=@Model.Code class="form-control" readonly />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                <input asp-for=@Model.EventVM.Date name="Date" class="form-control" readonly />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EventVM.Title)
            </dt>
            <dd>
                <input asp-for=@Model.EventVM.Title name="Title" class="form-control" readonly />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EventVM.Duration)
            </dt>
            <dd>
                <input asp-for=@Model.EventVM.Duration name="Duration" class="form-control" readonly />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EventVM.TypeId)
            </dt>
            <dd>
                <input asp-for=@Model.EventVM.TypeId name="TypeId" class="form-control" readonly />
            </dd>
        </dl>
    </div>
    <div>
        <input type="submit" value="BookEvent" class="btn btn-default" />
    </div>
</form>

