@model ThAmCo.Events.Models.Events.EventVenueVM

@{
    ViewData["Title"] = "ConfirmReservation";
}

<h2>ConfirmReservation</h2>
<form asp-action="BookEvent">
    <div>
        <h4>EventVenue</h4>
        <hr />
        <input type="hidden" asp-for=@Model.EventVM.Id name="Id" />
        <input type="hidden" asp-for=@Model.EventVM.OldRef name="OldRef" />
        <input type="hidden" asp-for=@Model.EventVM.Existing name="Existing" />
        <input type="hidden" asp-for=@Model.EventVM.VenueCapacity name="VenueCapacity" />
        <input type="hidden" asp-for=@Model.EventVM.VenueCost name="VenueCost" />
        <input type="hidden" asp-for=@Model.EventVM.VenueDescription name="VenueDescription" />
        <input type="hidden" asp-for=@Model.EventVM.TypeId name="TypeId" />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VenueRef)
            </dt>
            <dd>
                <input asp-for=@Model.VenueRef class="form-control" readonly />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                <input asp-for=@Model.EventVM.Date name="Date" class="form-control" readonly />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VenueName)
            </dt>
            <dd>
                <input asp-for=@Model.VenueName name="VenueName" class="form-control" readonly />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventVM.Title)
            </dt>
            <dd>
                <input asp-for=@Model.EventVM.Title name="Title" class="form-control" readonly />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EventVM.Duration)
            </dt>
            <dd>
                <input asp-for=@Model.EventVM.Duration name="Duration" class="form-control" readonly />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EventVM.Type)
            </dt>
            <dd>
                <input asp-for=@Model.EventVM.Type name="Type" class="form-control" readonly />
            </dd>

        </dl>
    </div>
    <div>
        <input type="submit" value="BookEvent" class="btn btn-default" />
    </div>
</form>

