@model ThAmCo.Events.Models.Events.EventVenueVM


<h2>Confirm Reservation</h2>
<form asp-action="BookEvent">
    <div>
        <hr />
        <input type="hidden" asp-for=@Model.EventVM.Id name="Id" />
        <input type="hidden" asp-for=@Model.EventVM.OldRef name="OldRef" />
        <input type="hidden" asp-for=@Model.EventVM.Existing name="Existing" />
        <input type="hidden" asp-for=@Model.EventVM.VenueCapacity name="VenueCapacity" />
        <input type="hidden" asp-for=@Model.EventVM.VenueCost name="VenueCost" />
        <input type="hidden" asp-for=@Model.EventVM.VenueDescription name="VenueDescription" />
        <input type="hidden" asp-for=@Model.EventVM.TypeId name="TypeId" />
        <input type="hidden" asp-for=@Model.VenueRef class="form-control" readonly />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventVM.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EventVM.Title)
                <input type="hidden" asp-for=@Model.EventVM.Title name="Title" class="form-control" readonly />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
                <input type="hidden" asp-for=@Model.EventVM.Date name="Date" class="form-control" readonly />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VenueName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VenueName)
                <input type="hidden" asp-for=@Model.VenueName name="VenueName" class="form-control" readonly />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EventVM.Duration)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EventVM.Duration)
                <input type="hidden" asp-for=@Model.EventVM.Duration name="Duration" class="form-control" readonly />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EventVM.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EventVM.Type)
                <input type="hidden" asp-for=@Model.EventVM.Type name="Type" class="form-control" readonly />
            </dd>

        </dl>
    </div>
    <div>
        <input type="submit" value="Book Event" class="btn btn-default" />
    </div>
    </br>
    <a asp-controller="Events" asp-action="Index">Cancel and return to Events List</a>
</form>

