@model ThAmCo.Events.Models.Events.EventDetailsVM


<h2>Details</h2>

<div>
    <h4>Event</h4>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Event.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Event</h2>
                <div class="col-sm-2">
                    <div>
                        @Html.DisplayNameFor(model => model.Event.Title):
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Event.Date):
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Event.Duration):
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Event.Type):
                    </div>
                </div>
                <div class="col-sm-10">
                    <div>
                        @Html.DisplayFor(model => model.Event.Title)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Event.Date)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Event.Duration)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Event.Type)
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <h2>Venue</h2>
                <div class="col-sm-3">
                    <div>
                        @Html.DisplayNameFor(model => model.Event.VenueName):
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Event.VenueCapacity):
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Event.VenueDescription):
                    </div>
                </div>
                <div class="col-sm-9">
                    <div>
                        @Html.DisplayFor(model => model.Event.VenueName)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Event.VenueCapacity)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Event.VenueDescription)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Menu</h2>
                <div class="col-sm-2">
                    <div>
                        @Html.DisplayNameFor(model => model.Menu.Name):
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Menu.Starter):
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Menu.Main):
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Menu.Dessert):
                    </div>
                </div>
                <div class="col-sm-10">
                    <div>
                        @Html.DisplayFor(model => model.Menu.Name)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Menu.Starter)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Menu.Main)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Menu.Dessert)
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <h2>Costing</h2>
                <div class="col-sm-3">
                    <div>
                        @Html.DisplayNameFor(model => model.Menu.CostPerHead):
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.MenuCost):
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.VenueCost):
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.TotalCost):
                    </div>
                </div>
                <div class="col-sm-9">
                    <div>
                        £@Html.DisplayFor(model => model.Menu.CostPerHead)
                    </div>
                    <div>
                        £@Html.DisplayFor(model => model.MenuCost)
                    </div>
                    <div>
                        £@Html.DisplayFor(model => model.VenueCost)
                    </div>

                    <div>
                        £@Html.DisplayFor(model => model.TotalCost)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>@Model.Customers.Count Guests</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Surname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customers.FirstOrDefault().FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Email)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Customers)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <h2>@Model.Staff.Count Staff</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Staff.FirstOrDefault().Surname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Staff.FirstOrDefault().FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Staff.FirstOrDefault().Email)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Staff)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>





