@model ThAmCo.Events.Models.Staffing.AllocateNewEventVM


<h2>Allocate Events to @Model.Staff.FullName</h2>

<hr />
<input type="hidden" asp-for="@Model.Staff.Id" name="StaffId" />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Staff.FullName" class="form-control" readonly />

<input type="hidden" asp-for="@Model.Staff.Id" name="StaffId" />


<div class="row">
    <div class="col-sm-2">
        <strong>@Html.DisplayNameFor(modelItem => Model.Venues.FirstOrDefault().Title)</strong>
    </div>
    <div class="col-sm-2">
        <center><strong>@Html.DisplayNameFor(modelItem => Model.Venues.FirstOrDefault().Date)</strong></center>
    </div>
    <div class="col-sm-1">
        <center><strong>@Html.DisplayNameFor(modelItem => Model.Venues.FirstOrDefault().Allocated)</strong></center>
    </div>
</div>
@foreach (var item in Model.Venues)
{
    <div class="row">
        <input type="hidden" asp-for="@item.Id" name="EventId" />
        <div class="col-sm-2">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div class="col-sm-2">
            <center>@Html.DisplayFor(modelItem => item.Date)</center>
        </div>
        <div class="col-sm-1">
            <center><input asp-for="@item.Allocated" data-eventid="@item.Id" onChange=updateAttend(this) /></center>
        </div>
    </div>
}</br>
<div>
    <a asp-action="StaffEvents" asp-route-id="@Model.Staff.Id">Back to event allocation for @Html.DisplayFor(model => model.Staff.FullName)</a> |
    <a asp-controller="Staff" asp-action="Index">Back to Staff List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    function updateAttend(checkbox) {
        var eventId = $(checkbox).data("eventid");
        var staffId = $("#Staff_Id").val();
        var checked = $(checkbox).is(":checked");

        var data =
        {
            "StaffId": staffId,
            "EventId": eventId,
            "Attended": checked
        };

        $.ajax({

            url: 'http://localhost:22263/Staffing/Create',
            type: 'POST',
            datatype: 'json',
            data: data,
            success: function () {
            },
            error: function () {
                alert("something went wrong");
            }
        });
    }

</script>

