@model ThAmCo.Events.Models.Staffing.BookNewStaffVM


<h2>Add staff for @Html.DisplayFor(model => model.EventTitle)</h2>

<br>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.Staff.FirstOrDefault().FullName)</strong>
        </div>
        <div class="col-sm-2">
            <strong><center>@Html.DisplayNameFor(model => model.Staff.FirstOrDefault().FirstAider)</center></strong>
        </div>
        <div class="col-sm-1">
            <strong><center>@Html.DisplayNameFor(model => model.Staff.FirstOrDefault().Attending)</center></strong>
        </div>
    </div>
</div>

<input type="hidden" asp-for="@Model.EventId" name="EventId" />

@foreach (var item in Model.Staff)
{


    <div class="container">
        <div class="row">
            <input type="hidden" asp-for="@item.Id" name="CustomerId" />
            <div class="col-sm-2">
                @Html.DisplayFor(modelItem => item.FullName)
            </div>
            <div class="col-sm-2">
                <center>@(item.FirstAider ? "Yes" : "No")</center>
            </div>
            <div class="col-sm-1">
                <center><input asp-for="@item.Attending" data-staffid="@item.Id" onChange=updateAttend(this) /></center>
            </div>
        </div>
    </div>

}

<br/>
<div>
    <a asp-controller="Events" asp-action="Index">Back to Events</a> |
    <a asp-action="StaffAtEvent" asp-route-id="@Model.EventId">Back to staff allocation for @Html.DisplayFor(model => model.EventTitle)</a>
</div>

<script type="text/javascript">

    function updateAttend(checkbox) {
        var staffId = $(checkbox).data("staffid");
        var evId = $("#EventId").val();
        var checked = $(checkbox).is(":checked");

        var data =
        {
            "StaffId": staffId,
            "EventId": evId,
            "Attended": checked
        };

        $.ajax({

            url: 'http://localhost:22263/Staffing/Create',
            type: 'POST',
            datatype: 'json',
            data: data,
            success: function () {
            },
            error: function () {
                alert("something went wrong");
            }
        });
    }

</script>

