@model IEnumerable<ThAmCo.Events.Data.Staffing>


<h1>Index</h1>
<h2>Total guests: @Model.Count()</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { EventId = item.EventId, StaffId = item.StaffId })
            </td>
        </tr>
}
    </tbody>
</table>
