@model ThAmCo.Events.Models.Staff.StaffEventsVM


<h2>@Html.DisplayFor(model => model.Staff.FirstName) @Html.DisplayFor(model => model.Staff.Surname)'s Event Schedule</h2>
<h5>:<strong>@Html.DisplayNameFor(model => model.Staff.Email):</strong> @Html.DisplayFor(model => model.Staff.Email)</h5>
<h5>:<strong>@Html.DisplayNameFor(model => model.Staff.FirstAider)::</strong> @(Model.Staff.FirstAider ? "Yes" : "No")</h5>

<br>
<p>
    @Html.ActionLink("Allocate to new event", "AllocateNewEvent", new { staffId = Model.Staff.Id })
</p>
@if (@Model.Events.Count() != 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <strong>@Html.DisplayNameFor(model => model.Events.FirstOrDefault().Title)</strong>
            </div>
            <div class="col-md-2">
                <strong>@Html.DisplayNameFor(model => model.Events.FirstOrDefault().Date)</strong>
            </div>
            <div class="col-md-1">
                <strong>@Html.DisplayNameFor(model => model.Events.FirstOrDefault().Duration)</strong>
            </div>
            <div class="col-md-2">
                <strong>@Html.DisplayNameFor(model => model.Events.FirstOrDefault().Type)</strong>
            </div>
        </div>
    </div>
}
else
{
    <h4>No events allocated currently</h4>
}

@foreach (var item in Model.Events)
{

    <form asp-action="Save">
        <div class="container">
            <div class="row">
                <input type="hidden" asp-for="@item.Id" name="EventId" />
                <input type="hidden" asp-for="@Model.Staff.Id" name="StaffId" />
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Date)
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Duration)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Type)
                </div>
                <div class="col-md-1">
                    @Html.ActionLink("Delete", "Delete", new { eventId = item.Id, staffId = Model.Staff.Id })
                </div>
            </div>
        </div>
    </form>
}
<br>
<a asp-controller="Staff" asp-action="Index">Back to Staff List</a>