@model ThAmCo.Events.Models.GuestBookings.BookNewGuestVM

<h2>Book additional guests for @Model.Event.Title</h2>

<div>
    <a asp-controller="GuestBookings" asp-action="GuestsAtEvent" asp-route-id="@Model.Event.Id">Back to bookings for @Model.Event.Title</a>
</div>

<br />
<input type="hidden" asp-for="@Model.Event.Id" name="EventId" />


<div class="row">
    <div class="col-md-2">
        <strong>@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().FullName)</strong>
    </div>
    <div class="col-md-1">
        <strong><center>@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Booked)</center></strong>
    </div>
    <br />


    @foreach (var item in Model.Customers)
    {

        <div class="row">
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.FullName)
            </div>
            <div class="col-md-1">
                <center><input asp-for="@item.Booked" data-customerid="@item.Id" onChange=updateAttend(this) /></center>
            </div>
        </div>

    }

    <script type="text/javascript">

        function updateAttend(checkbox) {
            var customerId = $(checkbox).data("customerid");
            var eventId = $("#Event_Id").val();
            var checked = $(checkbox).is(":checked");

            var data =
            {
                "CustomerId": customerId,
                "EventId": eventId,
                "Attended": checked
            };

            $.ajax({

                url: 'http://localhost:22263/GuestBookings/Create',
                type: 'POST',
                datatype: 'json',
                data: data,
                success: function () {
                },
                error: function () {
                    alert("something went wrong");
                }
            });
        }
    </script>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
