@model ThAmCo.Events.Models.GuestBookings.GuestBookingCreateVM


<h2>Available events for @Model.Customer.FullName</h2>

<h4><a asp-controller="GuestBookings" asp-action="CustomerBookings" asp-route-id="@Model.Customer.Id">Back to @Model.Customer.FullName's bookings</a></h4>

<input type="hidden" asp-for="@Model.Customer.Id" name="CustomerId" />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.Venues.FirstOrDefault().Title)</strong>
        </div>
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Venues.FirstOrDefault().Date)</strong>
        </div>
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Venues.FirstOrDefault().Duration)</strong>
        </div>
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Venues.FirstOrDefault().Type)</strong>
        </div>
        <div class="col-md-1">
            <strong>@Html.DisplayNameFor(model => model.Venues.FirstOrDefault().Allocated)</strong>
        </div>
    </div>
</div>

@foreach (var item in Model.Venues)
{
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Date)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Duration)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Type)
            </div>
            <div class="col-md-1">
                <center>
                    <input asp-for="@item.Allocated" data-eventid="@item.Id" onChange=updateAttend(this) />
                </center>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function updateAttend(checkbox) {
        var eventId = $(checkbox).data("eventid");
        var customerId = $("#Customer_Id").val();
        var checked = $(checkbox).is(":checked");

        var data =
        {
            "CustomerId": customerId,
            "EventId": eventId,
            "Attended": checked
        };

        $.ajax({

            url: 'http://localhost:22263/GuestBookings/Create',
            type: 'POST',
            //crossDomain: false,
            //contentType: 'application/json;charset=utf-8',
            datatype: 'json',
            //data: JSON.stringify(data),
            data: data,
            success: function () {
            },
            error: function () {
                alert("something went wrong");
            }
        });
    }
</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
