@model ThAmCo.Events.Models.CustomerEvents.CustomerEventsVM


<h2>@Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.Surname)'s Bookings</h2>
<h4>@Html.DisplayNameFor(model => model.Customer.Email): @Html.DisplayFor(model => model.Customer.Email)</h4>

<br>
<h4>@Html.ActionLink("Book new event", "Create", new { customerId = Model.Customer.Id })</h4>
@if (@Model.Events.Count() != 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <strong>@Html.DisplayNameFor(model => model.Events.FirstOrDefault().Title)</strong>
            </div>
            <div class="col-md-2">
                <strong>@Html.DisplayNameFor(model => model.Events.FirstOrDefault().Date)</strong>
            </div>
            <div class="col-md-2">
                <strong>@Html.DisplayNameFor(model => model.Events.FirstOrDefault().Duration)</strong>
            </div>
            <div class="col-md-1">
                <strong>@Html.DisplayNameFor(model => model.Events.FirstOrDefault().Type)</strong>
            </div>
            <div class="col-md-1">
                <strong>@Html.DisplayNameFor(model => model.Events.FirstOrDefault().Attended)</strong>
            </div>
        </div>
    </div>
}


<input type="hidden" asp-for="@Model.Customer.Id" name="Customer" />

@foreach (var item in Model.Events)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Date)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Duration)
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(modelItem => item.Type)
            </div>
            <div class="col-md-1">
                <center>
                    <input asp-for="@item.Attended" data-eventid="@item.EventId" onChange=updateAttend(this) />
                </center>
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Delete", "Delete", new { eventId = item.EventId, customerId = Model.Customer.Id, origin = "CustomerBookings" })
            </div>
        </div>
    </div>
}
<br />
<a asp-controller="Customers" asp-action="Index">Customer list</a> |
<a asp-controller="Events" asp-action="Index">Event list</a>

<script type="text/javascript">

    function updateAttend(checkbox) {
        var eventId = $(checkbox).data("eventid");
        var customerId = $("#Customer_Id").val();
        var checked = $(checkbox).is(":checked");

        var data =
        {
            "CustomerId": customerId,
            "EventId": eventId,
            "Attended": checked
        };

        $.ajax({

            url: 'http://localhost:22263/GuestBookings/GuestsAtEvent',
            type: 'POST',
            datatype: 'json',
            data: data,
            success: function () {
            },
            error: function () {
                alert("something went wrong");
            }
        });
    }
</script>

