@model ThAmCo.Events.ViewModels.CustomerEvents.CustomerEventsVM

@{
    ViewData["Title"] = "CustomerBookings";
}

    <h2>@Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.Surname)'s Bookings</h2>
    <h4>@Html.DisplayNameFor(model => model.Customer.Email): @Html.DisplayFor(model => model.Customer.Email)</h4>

<br>
<p>
    <a asp-action="Create">Book new event</a>
</p>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Events.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Events.FirstOrDefault().Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Events.FirstOrDefault().Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Events.FirstOrDefault().TypeId)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Events)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeId)
                    </td>
                </tr>
            }

        </tbody>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bookings.FirstOrDefault().Attended)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bookings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Attended)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { eventId = item.EventId, customerId = item.CustomerId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
