@model ThAmCo.Events.Models.GuestBookings.GuestBookingVM


<h2>Delete</h2>

<h3>Are you sure?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Origin" />
        <input type="hidden" asp-for="CustomerId" />
        <input type="hidden" asp-for="EventId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @if (Model.Origin == "CustomerBookings")
        {
            <a asp-action="@Model.Origin" asp-route-id=@Model.CustomerId>Back to List</a>
        }
        else
        {
            <a asp-action="@Model.Origin" asp-route-id=@Model.EventId>Back to List</a>
        }

    </form>
</div>
