@model ThAmCo.Events.Models.Events.EventCustomersVM

@{
    ViewData["Title"] = "CustomerBookings";
}

<h2>@Html.DisplayFor(model => model.Event.Title)'s Guests</h2>

<br>
<p>
    @Html.ActionLink("Book new guest", "BookNewGuest", new { eventId = Model.Event.Id })
</p>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.Customers.FirstOrDefault().FullName)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Attended)
        </div>
    </div>
</div>

<input type="hidden" asp-for="@Model.Event.Id" name="EventId" />

@foreach (var item in Model.Customers)
{

    <form asp-action="SaveEventGuests">
        <div class="container">
            <div class="row">
                <input type="hidden" asp-for="@item.Id" name="CustomerId" />
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.FullName)
                </div>
                <div class="col-md-1 form-group">
                    <input asp-for="@item.Attended" data-customerid="@item.Id" name="Attended" onChange="updateAttend(this)" class="form-control" />
                </div>
                <div class="col-md-1">
                    @Html.ActionLink("Delete", "Delete", new { customerId = item.Id, eventId = Model.Event.Id })
                </div>
            </div>
        </div>
    </form>
}



<script type="text/javascript">

    function updateAttend(checkboxElement)
    {


        //var data = {};
        //data.CustomerId = 2;
        //data.EventId = 1;
        //data.Attended = true;

        //var customerId = $(checkboxElement).data("customerid");
        //var eventId = $("#Event_Id").val();
        //var checked = ($(this).prop("checked"));

        var data =
        {
            "CustomerId": 2,
            "EventId": 1,
            "Attended": true
        };

        $.ajax({

            url: 'https://localhost:22263/GuestBookings/GuestsAtEvent',
            method: 'POST',
            //crossDomain: false,
            //contentType: 'application/json;charset=utf-8',
            datatype: 'json',
            //data: JSON.stringify(data),
            data: data,
            success: function ()
            {
                alert("success");
            },
            error: function ()
            {
                alert("something went wrong");
            }
        });
        //return false;
    }


</script>

