@model ThAmCo.Events.Models.Events.EventCustomersVM


<h2>@Html.DisplayFor(model => model.Event.Title)'s Guests</h2>

<br>
<p>
    @Html.ActionLink("Book new guest", "BookNewGuest", new { eventId = Model.Event.Id })
</p>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().FullName)</strong>
        </div>
        <div class="col-md-1">
            <strong><center>@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Attended)</center></strong>
        </div>
    </div>
</div>

<input type="hidden" asp-for="@Model.Event.Id" name="EventId" />

@foreach (var item in Model.Customers)
{
        <div class="container">
            <div class="row">
                <input type="hidden" asp-for="@item.Id" name="CustomerId" />
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.FullName)
                </div>
                <div class="col-md-1">
                    <center><input asp-for="@item.Attended" data-customerid="@item.Id" onChange=updateAttend(this) /></center>
                </div>
                <div class="col-md-1">
                    @Html.ActionLink("Delete", "Delete", new { customerId = item.Id, eventId = Model.Event.Id, origin = "GuestsAtEvent" })
                </div>
            </div>
        </div>
}

<script type="text/javascript">

    function updateAttend(checkbox)
    {
        var cusId = $(checkbox).data("customerid");
        var evId = $("#Event_Id").val();
        var checked = $(checkbox).is(":checked");

        var data =
        {
            "CustomerId": cusId,
            "EventId": evId,
            "Attended": checked
        };

        $.ajax({

            url: 'http://localhost:22263/GuestBookings/GuestsAtEvent',
            type: 'POST',
            //crossDomain: false,
            //contentType: 'application/json;charset=utf-8',
            datatype: 'json',
            //data: JSON.stringify(data),
            data: data,
            success: function ()
            {
            },
            error: function ()
            {
                alert("something went wrong");
            }
        });
    }

</script>

