@model IEnumerable<ThAmCo.Events.Data.GuestBooking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>Total guests: @Model.Count()</h2>
<h3>@ViewData["ErrorMessage"]</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attended)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                @Html.DisplayFor(model => item.Attended)
                <input asp-for="@item.Attended" asp-route-id="@item.EventId"/>
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new  { eventId = item.EventId, customerId = item.CustomerId }) |
                @Html.ActionLink("Details", "Details",new { eventId = item.EventId, customerId = item.CustomerId }) |*@
                @Html.ActionLink("Delete", "Delete", new { eventId = item.EventId, customerId = item.CustomerId })
            </td>
        </tr>
}
    </tbody>
</table>
