@model ThAmCo.Events.Services.MenuDto


<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostPerHead)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CostPerHead)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Starter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Starter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Main)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Main)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dessert)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dessert)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Model.MenuId }) |
    <a asp-action="Index">Back to List</a>
</div>
