@model IEnumerable<ThAmCo.Events.Services.MenuDto>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPerHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Main)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dessert)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Main)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dessert)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
